/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  background: #cf90c7; 
  background-image:linear-gradient(rgb(255, 196, 247), rgb(236, 48, 211),rgb(47, 200, 247)) ;
  font-family: initial !important; 
  color: #141615
}
.title-page{
  border-bottom: 1px solid;
  font-family: initial;
  padding: 20px 30px;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  color: hsl(60, 2%, 8%);
  }

  .container {
      margin-top: 40px;
  }
  .fa-info-circle{
    color: #df1e00;
    font-size: 15px;
    cursor: pointer; 
    margin-left: 22px;
}
#btn{
     background: rgb(218, 214, 214);
     border: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 130px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: rgb(26, 1, 3);
    margin: auto;
    padding: 10px;
    border: 2px solid rgb(18, 17, 122);
    width: 60%;
  }
  #price{
color: #da0909;
font-weight: medium;
padding: 10px 30px;
border: 2px solid rgb(71, 61, 49);
font-size: 20px;
display: inline-block;
  }

  .fa-eye-slash{
  font-size: 15px;
  color: #d45057;
  }
  .btn-primary {
    font-size: 12px;;
  }